<html>
<head> <title>Luz </title>
<style>

body {margin:0;}


.button{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
}

</style>
</head>
<body>


 <center>
   <h1>
    Controle de Led
    </h1>
    <h2>Pino 2</h2> </center>
 
 <center>
 <form action="/" method="post">
  
       <input type="submit" class="button" name="submit" value="ON">
       <input type="submit" class="button" name="submit" value="OFF">  
       
 </form></center>


</body>

</html>